{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}<!--渲染表单的-->
{% import "_macros.html" as macros %}<!--显示分页栏的-->

{% block csslink %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}" charset="utf-8">
{% endblock %}

{% block head %}
<header class="masthead" style="background-image: url('../static/img/home-bg.jpg'); margin-bottom: 0px;">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <img src="{{ url_for('static', filename='icons/ty-white.png') }}" style="max-width: 300px; max-height: 300px">
                    <span class="subheading" style="font-family:Mircosoft YaHei; ">-此时此刻，恰如彼时彼刻-</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block title %}TuYu{% endblock %}

{% block page_content %}
    <div style="margin-top: 40px;">
        <center style="font-size: 24px; color:black;">此时此刻的你，在想什么呢？用图片表达你的感受吧：</center>
    </div>
    <div style="margin-top: 10px; margin-bottom: 50px;">
        <center>
            <form  id="img-post" method="POST" enctype="multipart/form-data">
                <!--<button type="button" class="button-lg my-btn">点击选择图片</button>-->
                <input type="file" name="choose-img" id="choose-img" value="从电脑中选择" accept="image/png" style="opacity: 0;" onchange="document.getElementById('img-post').submit()" />
                <div>
                    <button class="button-lg my-btn" onclick="document.getElementById('choose-img').click()"> 点击发表图片 </button>
                </div>
            </form>
        </center>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}