{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}图语 - 发表{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='css/post.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/new.css') }}" rel="stylesheet">
<header class="top-cover"></header>
{% endblock %}

{% block page_content %}
<br/>
<div class="page-container py-2">
    <div class="title-container py-3 page-heading">
        <h1>图语 - 发表</h1>
    </div>
</div>
<div class="posts py-3">
    <div style="height: 20px;"></div>
    <center>
        <img class="up-img" src="../static/save/{{img_id}}.png">
        <form id="post-post" method="POST" enctype="multipart/form-data" >
            <input type="text" value="谈一谈你的感想吧~" class="text-in" name="describe">
            <div>
                <button class="button-lg my-btn" onclick="document.getElementById('post-post').submit()"> 确认发布 </button>
            </div>
        </form>
    </center>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
