{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}图语 - 图片{% endblock %}

{% block head %}
<link href="{{ url_for('static',filename='css/picture.css') }}" rel="stylesheet">
<link href="{{ url_for('static',filename='css/post.css') }}" rel="stylesheet">
<header class="top-cover"></header>
{% endblock %}

{% block page_content %}
<div class="bg-container">
    <div style="height: 25px;"></div>
    <div class="work-left work-container">
        <h3 class="title">{{describe}}</h3>
        {% if star %}
            <a href="{{ url_for('.unstar', id=id) }}"><img src="../static/img/star.png" class="star" /></a>
        {% else %}
            <a href="{{ url_for('.star', id=id) }}"><img src="../static/img/unstar.png" class="star" /></a>
        {% endif %}
            <a href="{{ url_for('.detail', id=id) }}"><img src="../static/img/share.png" class="star" /></a>
        <center>
            <img class="work-img" src="../static/save/{{id}}.png" />
        </center>
        
    </div>
    <div class="work-right work-container">
        <div style="margin-top: 30px;"></div>
        <center>
            <img src= "../static/mask/{{owner}}.png" class="mask" />
            <a href="{{ url_for('.user', username=ownername) }}"><div class="ownername">{{ownername}}</div></a>
        </center>
        <center>
        <div class="owner-status">
            <a href="{{ url_for('.type', username=ownername, status=0) }}">
                <div class="own status">
                    <center>
                        <div>发表</div>
                        <div>{{own_num}}</div>
                    </center>
                </div>
            </a>
            <a href="{{ url_for('.type', username=ownername, status=1) }}">
                <div class="status">
                    <center>
                        <div>收藏</div>
                        <div>{{star_num}}</div>
                    </center>
                </div>
            </a>
        </div>
        </center>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}